{% extends 'site_base.html' %}

{% block title %}Your Reports{% endblock %}

{% block content %}
{% load static %}


<h1>Your Reports</h1>
<div id="map" data-city="{{ profile.city }}" data-country="{{ profile.country }}" style="width: 100%; height: 500px; margin-top: 50px;"></div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <div style="flex-grow: 2; margin-right: 10px;">
        <strong>Reported Street:</strong>
    </div>
    <div style="flex-shrink: 0; margin-right: 325px; text-align: center;">
        <strong>Status:</strong>
    </div>
</div>

{% for report in user_reports %}
    <div class="user-report" data-coordinates="{{ report.coordinates }}" data-street="{{ report.street }}"
          data-house-number="{{ report.house_number }}" data-city="{{ report.city }}" data-zipcode="{{ report.zipcode }}"
          data-country="{{ report.country }}" data-issue-type="{{ report.issue_type }}"
          data-url="{% url 'user_report_details' report.id %}" data-status="{{ report.status }}"
         style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0;">
        <div style=" flex-grow: 2; margin-right: 10px;">
            {{ report.street }} {{ report.house_number }}, {{ report.city }}, {{ report.country }}
        </div>
        <div style="flex-shrink: 0; margin-right: 10px; text-align: center;">
            {{ report.status }}
        </div>
        <div style="flex-shrink: 0; display: flex; align-items: center; margin-top:-20px; margin-right:25px;">
            {% if report.status == 'queued' %}
                <!-- Display update link only if the status is 'queued' -->
                <a href="{% url 'update_user_report' report.id %}" style="margin-right: 5px; text-decoration: none;">
                    <button style="height: 25px; display: flex; align-items: center; justify-content: center;">Update</button>
                </a>
                <form action="{% url 'delete_user_report' report.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="height: 25px; display: flex; align-items: center; justify-content: center;">Delete</button>
                </form>
                <a href="{% url 'user_report_details' report.id %}" style="margin-left: 5px; text-decoration: none;">
                    <button style="height: 25px; display: flex; align-items: center; justify-content: center;">Details</button>
                </a>
            {% endif %}
        </div>
    </div>
    <hr>
{% endfor %}


<script src="{% static 'js/script_for_user_report_list.js' %}"></script>
{% endblock %}
